In [ ]:
# Finding Missing Values in a DataFrame
import pandas as pd
import numpy as np
d = {'First Score': [100, 90, np.nan, 95],
'Second Score': [30, 45, 56, np.nan],
'Third Score': [np.nan, 40, 80, 98]}
df = pd.DataFrame(d)
mv = df.isnull()
print(mv)

   First Score  Second Score  Third Score
0        False         False         True
1        False         False        False
2         True         False        False
3        False          True        False

In [ ]:
#csv
import pandas as pd

data = {
    "ID": [1, 2, 3, 4],
    "Name": ["John", "Emma", "Liam", "Olivia"],
    "Gender": ["Male", None, "Male", None]
}

df = pd.DataFrame(data)
df.to_csv("sample.csv", index=False)

In [25]:
# Filtering Data Based on Missing Values
import pandas as pd

d = pd.read_csv("/content/sample.csv")
bool_series = pd.isnull(d["Gender"])
missing_gender_data = d[bool_series]
print(missing_gender_data)

   ID    Name Gender
1   2    Emma    NaN
3   4  Olivia    NaN

In [ ]:
# Finding Missing Values in a DataFrame
import pandas as pd
import numpy as np
data = {'Name': ['Amit', 'Sita', np.nan, 'Raj'],
'Age': [25, np.nan, 22, 28]}
df = pd.DataFrame(data)
# Check for missing values using isna()
print(df.isna())

    Name    Age
0  False  False
1  False   True
2   True  False
3  False  False

In [ ]:
# Identifying Non-Missing Values in a DataFrame
import pandas as pd
import numpy as np
d = {'First Score': [100, 90, np.nan, 95],
'Second Score': [30, 45, 56, np.nan],
'Third Score': [np.nan, 40, 80, 98]}
df = pd.DataFrame(d)
nmv = df.notnull()
print(nmv)

   First Score  Second Score  Third Score
0         True          True        False
1         True          True         True
2        False          True         True
3         True         False         True

In [ ]:
# Filtering Data with Non-Missing Values
import pandas as pd
d = pd.read_csv("/content/sample.csv")
nmg = pd.notnull(d["Gender"])
nmgd= d[nmg]
display(nmgd)

   ID  Name Gender
0   1  John   Male
2   3  Liam   Male

In [ ]:
# Fill Missing Values with Zero
import pandas as pd
import numpy as np
d = {'First Score': [100, 90, np.nan, 95],
'Second Score': [30, 45, 56, np.nan],
'Third Score': [np.nan, 40, 80, 98]}
df = pd.DataFrame(d)
df.fillna(0)

   First Score  Second Score  Third Score
0        100.0          30.0          0.0
1         90.0          45.0         40.0
2          0.0          56.0         80.0
3         95.0           0.0         98.0

In [ ]:
#  Fill with Previous Value (Forward Fill)
df.fillna(method='pad')

/tmp/ipython-input-179/3094524865.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='pad')

   First Score  Second Score  Third Score
0        100.0          30.0          NaN
1         90.0          45.0         40.0
2         90.0          56.0         80.0
3         95.0          56.0         98.0

In [ ]:
# Fill with Next Value (Backward Fill)
df.fillna(method='bfill')

/tmp/ipython-input-179/2891822339.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='bfill')

   First Score  Second Score  Third Score
0        100.0          30.0         40.0
1         90.0          45.0         40.0
2         95.0          56.0         80.0
3         95.0           NaN         98.0

In [ ]:
# Fill NaN Values with 'No Gender'
import pandas as pd
import numpy as np
d = pd.read_csv("/content/sample.csv")
d[10:25]

Empty DataFrame
Columns: [ID, Name, Gender]
Index: []

In [ ]:
# Dropping Rows with At Least One Null Value
import pandas as pd
import numpy as np
dict = {'First Score': [100, 90, np.nan, 95],
'Second Score': [30, np.nan, 45, 56],
'Third Score': [52, 40, 80, 98],
'Fourth Score': [np.nan, np.nan, np.nan, 65]}
df = pd.DataFrame(dict)
df.dropna()

   First Score  Second Score  Third Score  Fourth Score
3         95.0          56.0           98          65.0

In [ ]:
# Dropping Rows with All Null Values
dict = {'First Score': [100, np.nan, np.nan, 95],
        'Second Score': [30, np.nan, 45, 56],
        'Third Score': [52, np.nan, 80, 98],
        'Fourth Score': [np.nan, np.nan, np.nan, 65]}
df = pd.DataFrame(dict)

df.dropna(how='all')

   First Score  Second Score  Third Score  Fourth Score
0        100.0          30.0         52.0           NaN
2          NaN          45.0         80.0           NaN
3         95.0          56.0         98.0          65.0

In [ ]:
# Dropping Columns with At Least One Null Value
dict = {'First Score': [100, np.nan, np.nan, 95],
        'Second Score': [30, np.nan, 45, 56],
        'Third Score': [52, np.nan, 80, 98],
        'Fourth Score': [60, 67, 68, 65]}
df = pd.DataFrame(dict)

df.dropna(axis=1)

   Fourth Score
0            60
1            67
2            68
3            65

In [ ]:
# Dropping Rows with Missing Values in CSV Files
import pandas as pd
d = pd.read_csv("/content/sample.csv")
nd = d.dropna(axis=0, how='any')
print("Old data frame length:", len(d))
print("New data frame length:", len(nd))
print("Rows with at least one missing value:", (len(d) - len(nd)))

Old data frame length: 4
New data frame length: 2
Rows with at least one missing value: 2